<h1>user works!</h1>
<div style="border:2px solid blue; width: 40%; background-color:rgba(66, 66, 231, 0.787); height: 80px;  border-radius: 10px;">User</div>

<ul *ngFor="let userData of data">
    <li>{{userData.name}} : {{userData.age}}</li>
</ul>

<h1>App call</h1>

<ul>
    <li *ngFor="let user of serverData">{{user.name}}----{{user.email}}</li>
</ul>

<!-- Post the Data -->
<form #producrForm="ngForm" (ngSubmit)="Addproduct(producrForm.value)" >
    <input type="text" placeholder="tital" name="tital"  ngModel>
    <br/><br/>
    <input type="text" placeholder="price" name="price" ngModel>
    <br/><br/>
    <input type="text" placeholder="description" name="description" ngModel>
    <br/><br/>
    <input type="text" placeholder="image" name="image" ngModel>
    <br/><br/>
    <input type="text" placeholder="category" name="category" ngModel>
    <br/><br/>
    <button>Add Product</button>
</form>